# {{ ansible_managed }}

# handy
alias ls='ls --color=auto -h --group-directories-first'
alias la='ls -a -h'
alias ll='ls -l -h'
alias lla='ls -a -h -l'
alias '..'='cd ..'
alias ssh='ssh -X'
alias sls='screen -ls'
{% if inventory_hostname == 'HomeServer' %}
alias oh='cd /etc/openhab'
alias ohauto='cd /etc/openhab/automation/jsr223/python/personal'
alias ohl='tail -f -n 100 /var/log/openhab/openhab.log'
alias ohel='tail -f -n 100 /var/log/openhab/events.log'
{% endif %}
alias sourcerc='
if [[ "$SHELL" == */bash ]] && [[ -f ~/.bashrc ]]; then
    source ~/.bashrc
elif [[ "$SHELL" == */zsh ]] && [[ -f ~/.zshrc ]]; then
    source ~/.zshrc
else
    source ~/.shrc
fi'

{% if 'patrec' in group_names %}
alias pup='cd /etc/puppetlabs/code/environments/production/modules'
alias backupgrafana='scp bay:/var/lib/grafana/grafana.db /home/poberdie/backups/grafana/'
alias backupprometheus='scp wenders:/etc/puppetlabs/code/environments/production/modules/prometheus/files/prometheus.yml /home/poberdie/backups/prometheus_server'

{% endif %}
# initializations
alias initpaper='$HOME/templates/latex_paper_template/paper_init.sh'
alias initslides='$HOME/templates/latex_beamer_template/slides_init.sh'
alias initgutachten='$HOME/templates/gutachten/gutachten_init.sh'

# graphics cards
alias path='echo $PATH | tr ":" "\n"'
alias ppath='echo $PYTHONPATH | tr ":" "\n"'
alias cvd='. $HOME/scripts/cvd.sh'
alias resetcvd='unset CUDA_VISIBLE_DEVICES'
alias nvid='nvidia-smi'
alias nvl='nvgpu list'

# file operations
alias col='column -s, -t'
alias follow='tail -f -n 100'
alias fcount='ls -1 | wc -l'

# Programs
alias updateconfig='ansible-pull -K -l $(hostname) --vault-password-file=~/.vault_pass.sh -U https://github.com/ronmckay/ansible-config local.yml'

if [ -x "$(command -v nvim)" ]; then
    alias vim='nvim'
    alias view='nvim -R'
fi

alias vw='vim $HOME/wiki_{{ 'private' if private else 'work' }}/index.md'
alias ltx='latexmk'
alias open={{ "'wslview'" if in_wsl else "'xdg-open'" }}
{% if 'patrec' not in group_names %}
alias comni='~/configs/scripts/connect_omniboard.sh'
alias domni='~/configs/scripts/disconnect_omniboard.sh'
alias cgrafana='~/configs/scripts/connect_patrec_grafana.sh'
alias dgrafana='~/configs/scripts/disconnect_patrec_grafana.sh'
{% else %}
alias startomniboard='omniboard &> /dev/null &'
alias stopomniboard='pkill -f "node .*/bin/omniboard"'
{% endif %}

# Python
alias python='nice python3'
alias vpython='
if [[ -f "./venv/bin/python" ]]; then
    nice ./venv/bin/python
elif [[ -f "./.venv/bin/python" ]]; then
    nice ./.venv/bin/python
else
    echo "No virtual environment found!"
fi'
alias venv='
if [[ -f "./venv/bin/activate" ]]; then
    source ./venv/bin/activate
elif [[ -f "./.venv/bin/activate" ]]; then
    source ./.venv/bin/activate
else
    echo "No virtual environment found!"
fi'
alias installvenv="source ./venv/bin/activate && cat requirements.txt | sed -e '/^\s*#.*$/d' -e '/^\s*$/d' | xargs -n 1 python -m pip install"
