# {{ ansible_managed }}

if [ -f ~/.sh_environment ]; then
    source ~/.sh_environment
fi

if [ -f ~/.sh_aliases ]; then
    source ~/.sh_aliases
fi

if [[ "$SHELL" == */bash ]] && [[ -f ~/.fzf.bash ]]; then
    source ~/.fzf.bash
elif [[ "$SHELL" == */zsh ]] && [[ -f ~/.fzf.zsh ]]; then
    source ~/.fzf.zsh
fi

{% if in_wsl %}
# GPG Socket
# Removing Linux GPG Agent socket and replacing it by link to wsl2-ssh-pageant GPG socket
export GPG_AGENT_SOCK=$HOME/.gnupg/S.gpg-agent
# "/mnt/c/Program Files (x86)/GnuPG/bin/gpg.exe" --card-status > /dev/null 2>&1 & disown
ss -a | grep -q $GPG_AGENT_SOCK
if [ $? -ne 0 ]; then
  rm -rf $GPG_AGENT_SOCK
  setsid nohup socat UNIX-LISTEN:$GPG_AGENT_SOCK,fork EXEC:"$HOME/.ssh/wsl2-ssh-pageant.exe --gpg S.gpg-agent" &>/dev/null &
fi

{% endif %}
umask 022

# Set the size of the command history
HISTSIZE=10000
HISTFILESIZE=50000
HISTCONTROL=ignoreboth # don't put duplicate lines or lines starting with space in the history.
export HISTSIZE HISTFILESIZE HISTCONTROL

shopt -s histappend  # Set .history file mode to append
#
# Save multi-line commands as such (do not rearange in single line)
shopt -s cmdhist
shopt -s lithist

PROMPT_COMMAND="history -a; history -n"
export PROMPT_COMMAND
