# {{ ansible_managed }}

.[!.]*
.idea
__pycache__
*.pyc
*.log
venv
.project
.pydevproject
.owncloud*
.vscode
!templates

# Latex ignores:
*.pdf
*.bbl
*.nav
*.snm
*.aux
*.out
*.synctex.gz
*.toc
*.blg
*.fdb_latexmk
*.fls
*.bib.bak
*.bib.sav.tmp

configs/logrotate/logrotate_status
