" {{ ansible_managed }}

command -buffer -nargs=* -complete=custom,vimwiki#tags#complete_tags
    \ CustomVimwikiGenerateTagLinks call vimwiki#tags#generate_tags(1, <f-args>) | loadview

augroup vimwikigroup
    autocmd BufWritePre <buffer> call vimwiki#tags#generate_tags(0) | loadview
augroup end
